@import "../../variables.scss";

.button {
  color: black;
  padding: $base-spacing $base-spacing * 6;
  transition: all 0.3s ease-in-out;
  font-size: 1.2em;

  &:hover {
    background-color: $secondary-color;
  }
}
