@import "../../variables.scss";

.portfolioContainer {
  @include flex-column-center;
  justify-content: left;
  width: 100%;
  min-height: 100vh;

  h2 {
    font-size: 2.5em;
    text-align: center;
    margin: $base-spacing * 3;
  }

  .portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 5vh;
  }
}
@media only screen and (min-width: 764px) {
  .portfolioContainer {
    h2 {
      margin: $base-spacing * 5;
    }
  }
}
@media only screen and (min-width: 1440px) {
  .portfolioContainer {
    .portfolio {
      width: 70%;
    }
  }
}

.slideInLeft {
  -webkit-animation: slideInLeft 0.75s ease-in both;
  animation: slideInLeft 0.75s ease-in both;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
