@import "../../variables.scss";

.portfolioContainer {
  @include flex-column-center;
  justify-content: left;
  width: 100%;
  min-height: calc(100vh - 60px);

  h2 {
    font-size: 2.5em;
    text-align: center;
    margin: $base-spacing * 3;
  }

  .portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 5vh;
  }
}

@media only screen and (min-width: 764px) {
  .portfolioContainer {
    h2 {
      margin: $base-spacing * 5;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .portfolioContainer {
    .portfolio {
      width: 80%;
    }
  }
}

.fadeInBck {
  -webkit-animation: fadeInBck 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fadeInBck 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fadeInBck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeInBck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
