@import "../../variables.scss";

.portfolioContainer {
  @include flex-column-center;
  justify-content: left;
  width: 100%;
  min-height: 100vh;

  h2 {
    font-size: 2.5em;
    text-align: center;
    margin: $base-spacing * 3;
  }

  .portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
  }
}

@media only screen and (min-width: 1440px) {
  .portfolioContainer {
    .portfolio {
      width: 70%;
    }
  }
}
