@import "../../variables.scss";

.aboutMeContainer {
  @include flex-column-center;
  justify-content: left;
  width: 100%;
  min-height: 100vh;

  .aboutMe {
    width: 90%;
    margin-bottom: 5vh;

    .fontAwesome {
      font-size: 64px;
      margin: 10px;

      &:hover path {
        color: $secondary-color;
        transition: all 0.3s ease-in-out;
      }
    }

    h2 {
      font-size: 2.5em;
      margin: $base-spacing * 3 0;
    }

    p {
      font-size: 1.5em;
    }
  }
}

@media only screen and (min-width: 768px) {
  .aboutMeContainer {
    justify-content: center;

    .aboutMe {
      width: 70%;

      h2 {
        font-size: 2.5em;
        margin: $base-spacing * 5 0;
      }

      p {
        font-size: 2em;
      }
    }
  }
}
