@import "../../variables.scss";

.aboutMeContainer {
  @include flex-column-center;
  justify-content: left;
  width: 100%;
  min-height: 100vh;

  .aboutMe {
    width: 90%;
    margin-bottom: 5vh;

    h2 {
      text-align: center;
      font-size: 2.5em;
      margin: $base-spacing * 3;
    }

    p {
      font-size: 1.5em;

      ul {
        margin-top: $base-spacing * 3;
        columns: 1;
        text-align: left;

        li {
          font-size: 1.5em;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .aboutMeContainer {
    justify-content: center;

    .aboutMe {
      width: 70%;

      h2 {
        font-size: 2.5em;
        margin: $base-spacing * 5;
      }

      p {
        font-size: 2em;

        ul {
          columns: 2;

          li {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
