@import "../../variables.scss";

.cardContainer {
  margin: $base-spacing;

  .portfolioCard {
    position: relative;
    width: 320px;
    height: 240px;
    text-align: center;
    max-width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 3;
      pointer-events: none;
      transition: all 0.3s ease-in-out;
    }

    .portfolioCardText {
      @include flex-column-center;
      width: 100%;
      height: 100%;
      background-color: $primary-color-80;
      padding: $base-spacing * 2;

      .text {
        transition: all 0.3s ease-in-out;
        position: absolute;
        top: 0;

        h3 {
          font-size: 1.5em;
          margin-bottom: 5%;
        }

        p {
          font-size: 1.2em;
          padding: 0 10%;
        }
      }

      .links {
        transition: all 0.3s ease-in-out;
        position: absolute;
        bottom: 0;

        .fontAwesome {
          font-size: 32px;
          margin: $base-spacing * 2;

          &:hover path {
            color: $secondary-color;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      .languages {
        transition: all 0.3s ease-in-out;
        position: absolute;
        bottom: 10%;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        p {
          font-size: 18px;
          font-weight: 900;
          color: $secondary-color;
        }
      }
    }

    &:hover img {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      button {
        cursor: pointer;
      }
    }

    &:hover .text {
      top: 15%;
      transition: all 0.3s ease-in-out;
    }

    &:hover .languages {
      right: 5%;
      transition: all 0.3s ease-in-out;
    }

    &:hover .links {
      bottom: 10%;
      transition: all 0.3s ease-in-out;
    }
  }
}

@media only screen and (min-width: 768px) {
  .cardContainer {
    .portfolioCard {
      width: 320px;
      height: 240px;
    }
  }
}

@media only screen and (min-width: 1044px) {
  .cardContainer {
    .portfolioCard {
      width: 340px;
      height: 250px;
    }
  }
}

.slideInLeft {
  -webkit-animation: slideInLeft 0.75s ease-in both;
  animation: slideInLeft 0.75s ease-in both;
}
