@import "../../variables.scss";

.cardContainer {
  margin: $base-spacing;

  .portfolioCard {
    position: relative;
    width: 320px;
    height: 240px;
    text-align: center;
    max-width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 3;
      pointer-events: none;
    }

    .portfolioCardText {
      display: flex;
      position: static;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      align-items: center;
      // background-color: $primary-color;
      color: $secondary-color;
      padding: $base-spacing;
      font-size: 24px;
      flex-direction: column;

      h3 {
        font-size: 1em;
      }

      p {
        font-size: 1em;
        padding: 0 10%;
      }

      .fontAwesome {
        font-size: 38px;
        margin: $base-spacing * 2;
      }
    }

    &:hover img {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      button {
        cursor: pointer;
      }
    }
    .fontAwesome:hover path {
      color: $secondary-color;
    }
  }
}

@media only screen and (min-width: 768px) {
  .cardContainer {
    .portfolioCard {
      width: 320px;
      height: 240px;
    }
  }
}

@media only screen and (min-width: 1044px) {
  .cardContainer {
    .portfolioCard {
      width: 340px;
      height: 250px;
    }
  }
}

.slideInLeft {
  -webkit-animation: slideInLeft 0.75s ease-in both;
  animation: slideInLeft 0.75s ease-in both;
}

// @-webkit-keyframes slideInLeft {
//   0% {
//     -webkit-transform: translateX(-300px);
//     transform: translateX(-300px);
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: translateX(0);
//     transform: translateX(0);
//     opacity: 1;
//   }
// }
// @keyframes slideInLeft {
//   0% {
//     -webkit-transform: translateX(-300px);
//     transform: translateX(-300px);
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: translateX(0);
//     transform: translateX(0);
//     opacity: 1;
//   }
// }
