@import "../../variables.scss";

.navContainer {
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 2px $secondary-color;
  text-align: center;

  .burgerMenuIcon {
    margin-left: 5%;
    font-size: 32px;

    path {
      color: $secondary-color;
    }
  }

  .burgerMenuDropDown {
    z-index: 5;
    position: absolute;
    top: 60px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    min-height: 200px;
    background-color: $primary-color;

    a {
      border-bottom: solid 1px $secondary-color;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 2em;
      }
    }
  }

  .leftPanel {
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .navContainer {
    border-bottom: none;
    border-right: solid 2px $secondary-color;

    .burgerMenuIcon {
      display: none;
    }

    div {
      h1 {
        font-size: 2.5em;
      }

      p {
        margin-top: $base-spacing * 3;
        font-size: 1.5em;
      }
    }

    .leftPanel {
      padding: 60% 0;
      @include flex-column-center;
      visibility: visible;
      justify-content: space-around;
      height: 100%;
      width: 100%;

      p {
        padding: 0 10%;
      }

      .pages {
        height: 30%;
        width: 100%;

        .page {
          @include flex-column-center;
          width: 100%;
          height: 30%;

          &:hover {
            background-color: $primary-color-80;
            transition: all 0.3s ease-in-out;

            span {
              color: $secondary-color;
              transition: all 0.3s ease-in-out;
            }
          }

          span {
            font-size: 1.2em;
          }
        }
      }
      nav {
        display: flex;
        justify-content: space-around;
        width: 70%;

        .fontAwesome {
          font-size: 18px;
        }

        a:hover path {
          color: $secondary-color;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

@media only screen and (min-width: 1044px) {
  .navContainer {
    div {
      h1 {
        font-size: 3em;
      }

      p {
        margin-top: $base-spacing * 3;
        font-size: 1.5em;
      }
    }

    .leftPanel {
      .pages {
        .page {
          span {
            font-size: 1.5em;
          }
        }
      }
      nav {
        .fontAwesome {
          font-size: 32px;
        }
      }
    }
  }
}

.slideInTopNav {
  -webkit-animation: slideInTopNav 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slideInTopNav 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slideInTopNav {
  0% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInTopNav {
  0% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slideOutTopNav {
  -webkit-animation: slideOutTopNav 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slideOutTopNav 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slideOutTopNav {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slideOutTopNav {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

.fadeInBck {
  -webkit-animation: fadeInBck 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fadeInBck 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fadeInBck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeInBck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
