@import "../../variables.scss";

.homeContainer {
  @include flex-column-center;
  width: 100%;
  min-height: calc(100vh - 60px);

  h2 {
    font-size: 3.5em;
    margin: 10%;

    span {
      font-size: 1em;
      color: white;
    }
  }
}

@media only screen and (min-width: 768px) {
  .homeContainer {
    min-height: 100vh;

    h2 {
      font-size: 4em;

      span {
        font-size: 1em;
      }
    }
  }
}

.fadeInBck {
  -webkit-animation: fadeInBck 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fadeInBck 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fadeInBck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fadeInBck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
