@import "../../variables.scss";

.homeContainer {
  @include flex-column-center;
  width: 100%;
  min-height: 100vh;

  h2 {
    font-size: 3.5em;
    margin: 10%;

    span {
      font-size: 1em;
      color: white;
    }
  }
}

@media only screen and (min-width: 768px) {
  .homeContainer {
    h2 {
      font-size: 4em;

      span {
        font-size: 1em;
      }
    }
  }
}

.slideInLeft {
  -webkit-animation: slideInLeft 0.75s ease-in both;
  animation: slideInLeft 0.75s ease-in both;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
