@import "./variables.scss";

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  color: white;
  font-size: 16px;

  &::selection {
    color: $secondary-color;
  }
}

h1,
h2,
h3 {
  color: $secondary-color;

  &::selection {
    color: white;
  }
}

.background {
  background-color: $primary-color;
}
